:root {
    --roxinho-color: rgb(138, 87, 220);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--roxinho-color);
}

.bloco {
    margin: 30px auto;
    max-width: 640px;
    background-color: #ffff;
    padding: 20px;
    border-radius: 30px;

}

.bloco h1 {
    font-size: 30px;
    margin-bottom: 0;
}

.bloco h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.bloco h3 {
    font-size: 25px;
}
.bloco p {
    font-size: 18px;
}

.bloco-flex {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}

form input,
form label {
    display: block;
    width: 100%;
}

form button {
    display: block;
    margin: 20px auto 0 auto;
    font-size: 24px;
    border: none;
    background-color: var(--roxinho-color);
    color: #ffff;
    font-weight: 400;
    cursor: pointer;
}
form label{
    font-size: 20px;
    margin: 10px 0 10px 0;

}
form input {
    font-size: 20px;
    height: 30px;
    padding: 0 20px;
}

form input:focus {
    outline: 2px solid var(--roxinho-color);
}
.resultado{
    background-color: rgb(255, 255, 255);
    width: auto;
    height: auto;
}
.paragrafo-resultado, .bad{
    background-color: rgb(75, 72, 177);
    padding:10px 20px;
}
.bad{
    background-color: rgb(237, 134, 134);
}