:root {
    --roxinho-color: rgb(138, 87, 220);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--roxinho-color);
    line-height: 1.5em;
    font-size: 1.2em;
}

.bloco {
    margin: 30px auto;
    max-width: 640px;
    background-color: brown;
    padding: 20px;
    border-radius: 30px;
}

form input,form label {
    display: block;
    width: 100%;
}

form button {
    display: block;
    margin: 20px auto 0 auto;
    font-size: 24px;
    border: none;
    background-color: var(--roxinho-color);
    color: #ffff;
    font-weight: 400;
    cursor: pointer;
}
form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
form input:focus{
    outline: 2px solid var(--roxinho-color);
}
